body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 50px;
  color: #00c2ad;
  margin-bottom: 30px;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #333;
  margin: 20px 0 0 0;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: 100;
  background-color: rgba(0,0,0,0.2);
  padding: 5px 20px;
  width: 300px;
  margin: 40px auto 0;
}

.friendly-hello {
  text-align: right;
  color: #555;
}

.logout a {
  text-decoration: none;
  color: #999;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.logout a:hover {
  color: #000;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.container {
  text-align: center;
  margin: 20px;
}

.playlist-container {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 200px;
  text-align: left;
}

.playlist-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: #ccc;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 5px;
}

.playlist-item {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.announcement-gray {
  color: #7d7d7d;
}

.playlist-item:hover .operators {
  display: block;
}

.operators {
  display: none;
}

.rescueable {
  color: #00c2ad;
}

.strike {
  color: #da0000;
}

.strike:hover, .rescueable:hover{
  cursor: pointer;
}


.playlist-item .gray-out {
  color: #ccc;
  cursor: default;
}

.uploader, .title, .isplaying, .isplaying-header {
  display: inline-block;
}

.title {
  width: 500px;
  vertical-align: top;
}

.uploader {
  text-align: left;
  margin-right: 10px;
  width: 100px;
}

.isplaying {
  margin-right: 30px;
  text-align: right;
  width: 50px;
}

.submit-footer {
  width: 100%;
  min-width: 800px;
  position: fixed;
  bottom: 0px;
  background-color: #00c2ad;
  z-index: 2;
  
}

.submit-footer-content {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.submit-footer-btn {
  float: right;
  color: #b0ebe5;
  font-size: 30px;
  padding: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  background-color: inherit;
  border: none;
  outline: none;
}

.submit-footer-btn:hover {
  cursor: pointer;
  color: #fff;
}

.url-input-overlay {
  width: 566px;
  height: 27px;
  position: absolute;
  top: 13px;
  border-radius: 2px;
  background-color: #ffde00;
  display: none;
}

.url-input {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin: 13px 0 10px 0;
  background-color: #2fd2c0;
  color: #fff;
  float: left;
  width: 550px;
}

.mute-btn {
  float: left;
  width: 30px;
  height: 30px;
  background-image: url('../images/music-controls.png');
  background-position: -30px 0;
  margin: 12px;
  opacity: 0.9;
}

.mute-btn:hover, .score-btn:hover, .close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.close-btn {
  background-image: url('../images/close-btn.png');
  width: 30px;
  height: 30px;
  opacity: 0.6;
  right: 0;
  background-size: 90%;
  margin: 10px;
  background-repeat: no-repeat;
  position: fixed;
}

.score-btn {
  float: right;
  width: 30px;
  height: 30px;
  background-image: url('../images/highscores.png');
  margin: 14px 10px 10px;
  opacity: 0.9;
  background-size: 90%;
  background-repeat: no-repeat;
}

.scoreboard {
  position: fixed; 
  top: 1200px;
  background-color: rgba(0,25,22,0.8);
  color: #fff;
  bottom: 0;
  left: 0; 
  overflow-y: scroll !important;
  padding-bottom: 55px;
  right: 0;
  z-index: 1;
}

::-webkit-input-placeholder {
   color: #a6efe7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a6efe7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a6efe7;  
}

:-ms-input-placeholder {  
   color: #a6efe7;  
}

#ytplayer {
  display: block;
}

table {
  margin: 20px auto;
}

td {
  padding: 5px 20px 0 20px;
}

td.points {
  font-weight: 500;
}

.progress-bar {
  height: 4px;
  width: 100%;
  position: fixed;
  bottom: 53px;
  background-color: #a3efe7;
}

.progress {
  height: 4px;
  position: fixed;
  left: 0;
  bottom: 53px;
  background-color: #009d8c;
  width: 0;
}

.fb-like {
  float: left;
  clear: none;
  opacity: 0.7;
  display: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.fb-like:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.status-msg {
  width: 100%;
  position: fixed;
  bottom: 56px;
  text-align: center;
  color: #da0000;
  background-color: rgba(255,255,255,1);
  border-top: 1px solid #ddd;
  padding: 6px;
  display: none;
}

.status-msg .new-here {
  color: #aaa;
}

.new-here a {
  text-decoration: none;
  color: #666;
}

.good-news {
  color: #00c2ad !important;
}

.intro {
  background-color: rgba(0,0,0,0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  display: none;
}

.intro-center {
  width: 460px;
  height: 400px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -220px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,1);
  box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}

.intro-center h4 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #000;
}

h4.points {
  color: #00c2ad;
  font-size: 20px;
}

h4.strikes {
  color: #da0000;
  font-size: 20px;
}

h4.welcome {
  margin-top: 10px;
}

.intro-center p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #333;
}

em {
  font-weight: 600;
}

button {
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 14px;
  outline: none;
  color: #333;
  opacity: 0.4;
  border: 1px solid #666;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

button:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.scoreboard-footer {
  text-align: right;
  right: 20px;
  bottom: 70px;
  width: 100%;
  font-size: 14px;
  position: fixed;
  opacity: 0.7;
  display: none;
}

a {
  text-decoration: none;
}

.confused {
  opacity: 0.7;
  color: #fff;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.confused:hover {
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.flashblocker-notice {
  font-size: 14px;
  color: #da0000;
  opacity: 0.5;
  margin-top: 20px;
}
.yourself {
  color: #ffe400;
}

/** STAR LIST CSS **/

.star {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
  background-image: url('../images/stars.png');
  background-size: 200%;
  background-position: 20px 0px;
}

.star:hover {
  background-position: 20px 20px;
}

.star-starred {
  background-position: 0px 0px;
}

.star-starred:hover {
  background-position: 0px 20px;
}

.star-list {
  color: #eee;
  width: 566px;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.star-list-item {
  border-bottom: 1px solid #555;
  padding: 8px 8px;
  background-color: rgba(0,0,0,0.7);
}
.star-list-item:hover {
  background-color: rgba(0,0,0,0.9);
  cursor: pointer;
}

.star-list-item:nth-child(1) {
  border-radius: 2px 2px 0 0;
}

.star-list-item:nth-last-child(1) {
  border-radius: 0 0 2px 2px;
  border: none;
}

