body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 50px;
  color: #00c2ad;
  margin-bottom: 30px;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #333;
  margin: 20px 0 0 0;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: 100;
  background-color: rgba(0,0,0,0.2);
  padding: 5px 20px;
  width: 300px;
  margin: 40px auto 0;
}

.friendly-hello {
  text-align: right;
  color: #555;
}

.logout a {
  text-decoration: none;
  color: #999;
}

.logout a:hover {
  color: #000;
}

.container {
  text-align: center;
  margin: 20px;
}

.playlist-container {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

.playlist-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: #ccc;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 5px;
}

.playlist-item {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.playlist-item:hover .strike {
  display: inline;
}

.strike {
  margin-left: 10px;
  color: #da0000;
  display: none;
}

.strike:hover {
  cursor: pointer;
}

.gray-out {
  color: #ccc;
}

.uploader, .title, .isplaying, .isplaying-header {
  display: inline-block;
}

.title {
  width: 500px;
  vertical-align: top;
}

.uploader {
  text-align: left;
  margin-right: 10px;
  width: 100px;
}

.isplaying {
  margin-right: 30px;
  text-align: right;
  width: 50px;
}

.submit-footer {
  width: 100%;
  min-width: 800px;
  position: fixed;
  bottom: 0px;
  background-color: #00c2ad;
  z-index: 2;
  
}

.submit-footer-content {
  width: 700px;
  margin: 0 auto;
}

.submit-footer-btn {
  float: right;
  color: #b0ebe5;
  font-size: 30px;
  padding: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  background-color: inherit;
  border: none;
  outline: none;
}

.submit-footer-btn:hover {
  cursor: pointer;
  color: #fff;
}



.url-input {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin: 13px 0 10px 0;
  background-color: #2fd2c0;
  color: #fff;
  float: left;
  width: 550px;
}

.mute-btn {
  float: left;
  width: 30px;
  height: 30px;
  background-image: url('../images/music-controls.png');
  background-position: -30px 0;
  margin: 12px;
  opacity: 0.9;
}

.mute-btn:hover, .score-btn:hover, .close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.close-btn {
  background-image: url('../images/close-btn.png');
  float: right;
  width: 30px;
  height: 30px;
  opacity: 0.6;
  background-size: 90%;
  margin: 10px;
  background-repeat: no-repeat;
}

.score-btn {
  float: right;
  width: 30px;
  height: 30px;
  background-image: url('../images/highscores.png');
  margin: 14px 10px 10px;
  opacity: 0.9;
  background-size: 90%;
  background-repeat: no-repeat;
}

.scoreboard {
  position: fixed; 
  top: 1000px;
  background-color: rgba(0,25,22,0.8);
  color: #fff;
  bottom: 0;
  left: 0; 
  right: 0;
  z-index: 1;
}

::-webkit-input-placeholder {
   color: #a6efe7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a6efe7;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a6efe7;  
}

:-ms-input-placeholder {  
   color: #a6efe7;  
}

#ytplayer {
  display: none;
}

table {
  margin: 20px auto;
}

td {
  padding: 5px 20px 0 20px;
  width: 
}

td.points {
  font-weight: 500;
}
