<!DOCTYPE html>
<html>
<head>
  <title>Youtube with Points!</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <meta property="og:image"content="images/large-icon.png" />
  <meta name="description" content="Tired of listening to your own playlist? Try listening to this one. Experience music, democratically.">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script> 
  <script type="text/javascript">
    var user = '{{user}}';
  </script> 
  <script src="js/scripts.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=627543914007490&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <div class="fb-like" data-href="http://michaelx.io/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  <div class="friendly-hello">Why hello, {{user}}. <span class="logout"><a href="/logout">Logout?</a></span></div>
  
  <h2>YOUTUBE WITH</h2>
  <h1>POINTS!</h1>
  <div class="playlist-container">
    <div class="playlist-item playlist-heading">
      <div class="isplaying"></div>
      <div class="uploader">uploader</div>
      <div class="title">current playlist</div>
    </div>
    <div class="populated-playlist">
      <!--
      <div class="playlist-item">
        <div class="isplaying">&#9658;</div>
        <div class="uploader">michaelx</div>
        <div class="title">What did the Fox Say</div>
      </div>
      -->
    </div>
  </div>
</div>
<div class="progress-bar">
  <div class="progress"></div>
</div>
<div class="submit-footer">
  <div class="mute-btn"></div>
  <div class="score-btn"></div>
  <div class="submit-footer-content">
    <input type="submit" class="submit-footer-btn" value="UPLOAD" />
    <input type="text" name="link" class="url-input" placeholder="Youtube URL Here"/>
  </div>
</div>
<div class="scoreboard">
  <div class="close-btn"></div>
  <h3>SCOREBOARD</h3>
  <div class="score-container">
  </div>
</div>

<iframe id="ytplayer" type="text/html" width="0" height="0" frameborder="0"/>
</body>
</html>
