<html>
    <head>
        <title>Next Code Golf</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header"><span class="circle">NC</span></div>
            <h1>Next Code Golf</h1>
            <p>Thank you for registering.</p>
            <p></p>
            <p><a href="/login">Login</a></p>
            <p><a href="/rules">Rules</a></p>
        </div>
    </body>
</html>

